<h1 mat-dialog-title>Ajouter employe</h1>

<div mat-dialog-content> 
    <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Le nom de l'employe">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>preom</mat-label>
        <input matInput placeholder="Le prenom de l'employe">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>adresse</mat-label>
        <input matInput placeholder="L'adresse de l'employe'">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>fonction</mat-label>
        <mat-select  placeholder="L'adresse de l'employe'">
            <mat-option value="enseignant">Enseignant</mat-option>
            <mat-option value="administrateur">Administrateur</mat-option>
            <mat-option value="agent">Agent</mat-option>
        </mat-select>
    </mat-form-field>

</div>
